$lightGreen: #c5ead9;
$accentColor: #3bb77e;



.carousel-featured {
  margin: 0;
  .carousel-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    .head-left {
      margin-left: 11rem;

      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 40px;
        color: #253d4e;
      }
    }
    .head-right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      margin-right: 12rem;
      h3 {
        font-weight: 700;
        font-size: 1rem;
        line-height: 20px;
        color: $accentColor;
      }
      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
        color: #253d4e;
      }
    }
  }

      .arrow-left {
      margin-left: 3rem;
      background-color: white;
      border: none;
    }

    .arrow-right {
      margin-right: 3rem;
      transform: scaleX(-1);
      background-color: white;
      border: none;
    }

  .carousel-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    overflow-x: hidden;


    .card-wrapper {
      width: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
      .cards {
        width: 100%;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        transition: transform 0.3s ease-in;
        width: 100%;
        max-width: 300px;

      }
    }
  }
}


   .product-card {
          display: flex;
          flex-direction: column;
          background-color: rgb(255, 255, 255);
          border: 1px solid rgba(173, 173, 173, 0.25);
          box-sizing: border-box;
          border-radius: 3px;

          &__content {
            width: 100%;
            padding:12px 10px;
          }

          & > img {
            width: 100%;
          }
          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #adadad;
          }
          h4 {
            font-size: 18px;
            color: #253d4e;
          }
          .rating {
            display: flex;
            width: 100%;
            height: 10px;
            margin-left: -7px;
            .rating-stars {
              display: flex;
              position: relative;
              user-select: none;
              transform: scaleX(-1);
              input {
                display: none;
              }
              label {
                cursor: pointer;
                width: 20px;
                background-color: white;
              }
              label:before {
                position: absolute;
                content: url(../../assets/greystar.svg);
              }

              label:after {
                content: url(../../assets/star.svg);
                position: absolute;
                opacity: 0;
              }

              label:hover:after,
              label:hover ~ label:after,
              input:checked ~ label:after {
                opacity: 1;
              }
              label:hover:before,
              input:checked ~ label:before {
                display: none;
              }
              label:hover ~ label:before {
                display: none;
              }
            }
          }

          &__footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .price {
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
            }
            p {
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              color: $accentColor;
            }
            > span {
              margin-left: 5px;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              text-decoration-line: line-through;
              color: #adadad;
            }
            button {
              background-color: $lightGreen;
              border: none;
              color: $accentColor;
              padding: 8px 12px;
              margin: 0;
              border-radius: 5px;
            }
          }
.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid rgba(173, 173, 173, 0.25);
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.product-card__content {
  width: 100%;
  padding: 12px 10px;
}

.product-card > img {
  width: 100%;
}

.product-card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #adadad;
}

.product-card h4 {
  font-size: 18px;
  color: #253d4e;
}

.product-card .rating {
  display: flex;
  width: 100%;
  height: 10px;
  margin-left: -7px;
}

.product-card .rating .rating-stars {
  display: flex;
  position: relative;
  user-select: none;
  transform: scaleX(-1);
}

.product-card .rating .rating-stars input {
  display: none;
}

.product-card .rating .rating-stars label {
  cursor: pointer;
  width: 20px;
  background-color: #fff;
}

.product-card .rating .rating-stars label:before {
  position: absolute;
  content: url(../../assets/greystar.svg);
}

.product-card .rating .rating-stars label:after {
  content: url(../../assets/star.svg);
  position: absolute;
  opacity: 0;
}

.product-card .rating .rating-stars label:hover:after,
.product-card .rating .rating-stars label:hover ~ label:after,
.product-card .rating .rating-stars input:checked ~ label:after {
  opacity: 1;
}

.product-card .rating .rating-stars label:hover:before,
.product-card .rating .rating-stars input:checked ~ label:before {
  display: none;
}

.product-card .rating .rating-stars label:hover ~ label:before {
  display: none;
}

.product-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product-card__footer .price {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.product-card__footer p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $accentColor;
}

.product-card__footer > span {
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px
}

.product-card__footer > span {
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #adadad;
}

.product-card__footer button {
  background-color: $lightGreen;
  border: none;
  color: $accentColor;
  padding: 8px 12px;
  margin: 0;
  border-radius: 5px;
}}

