header {
  display: flex;
  flex-direction: column;

  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    overflow: hidden;
    border-color: #253d4e;
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 2rem;
      margin-left: 5rem;
      gap: 8px;
      width: 10rem;
      height: 9rem;
      .svgport1 {
        size: 100rem;
        position: relative;
        justify-content: center;
        margin-top: 1rem;
      }
      .logo-name {
        display: flex;
        flex-direction: column;
        padding: 0;
        h1 {
          padding: 0;
          top: 0;
          width: 0;
          height: 0;
          font-size: 1.5em;
          color: $accentColor;
        }
        h3 {
          padding: 0;
          font-size: (14/16) em;
          font-weight: 500;
          line-height: 14px;
          color: #adadad;
        }
      }
    }
    .search-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .search-bar {
        display: flex;
        flex-direction: row;
        background-color: #f3f3f3;
        align-items: center;
        border-radius: 0.5rem;
        width: 28rem;
        height: 3rem;
        padding: 0.75rem;

        h4 {
          font-weight: 600;
          font-size: 1rem;
          padding: 0.6rem;
          line-height: 18px;
          width: 12rem;
          color: #253d4e;
        }
        .divider {
          width: 0px;
          height: 12.5px;
          border: 1px solid #adadad;
        }
        .search {
          width: 25rem;
          text-decoration: none;
          padding-left: 20px;
          background-color: #f3f3f3;
          border: none;
          font-weight: 500;
          font-size: 0.9rem;
          line-height: 1.1rem;
        }
      }
      & >img {
        background-color: $accentColor;
        border-radius: 0.3rem;
        padding: 1.5rem;
      }
    }

    .frame91 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(255, 255, 255);
      width: 20rem;

      .btn1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 5.6rem;
        .heart {
          display: flex;
          background-color: white;
          filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
        }
        h4 {
          display: flex;
          font-family: "Quicksand";
          font-style: normal;
          font-weight: 500;
          font-size: 1.2rem;
          padding-left: 0.6rem;
        }
      }
      .btn2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 9rem;
        .trolley {
          display: flex;
        }

        .cart {
          display: flex;
          flex-direction: column;
          padding-left: 0.5;
          .cart-name {
            display: flex;
            top: 0;
            bottom: 0;
            margin: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 1.2rem;
          }
          .price {
            display: flex;
            padding: 0;
            margin: 0;
            font-family: "Quicksand";
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            color: $accentColor;
          }
        }
      }
    }

    .profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 8rem;
      padding-right: 3rem;
      img:first-child {
        width: 3rem;
        border-radius: 20rem;
        height: 3rem;
      }
      .name {
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #253d4e;
      }
    }
  }

  .vector {
    display: flex;
    background-color: #e8e8e8;
    width: 100%;
  }

  .bot-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);

    .browse {
      justify-content: space-between;
      width: 14.5rem;
      display: flex;
      background-color: $accentColor;
      margin-top: 1.5rem;
      padding-top: 0;
      margin-left: 6rem;
      border-radius: 0.3rem;
      img {
        margin-left: 1rem;
        fill: white;
      }
      h4 {
        margin-right: 1rem;
        color: white;
      }
    }

    .btns {
      display: flex;
      justify-content: space-between;
      width: 50rem;
      margin-top: 1.5rem;
      .btn3 {
        display: flex;
        justify-content: space-between;
        width: 5rem;
        h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          color: #3bb77e;
        }
      }
      .btn4 {
        display: flex;
        justify-content: space-between;
        width: 6.5rem;
        h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          color: #253d4e;
        }
      }
      .btn5 {
        display: flex;
        justify-content: space-between;
        width: 7.5rem;
        h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          color: #253d4e;
        }
      }
      .btn6 {
        display: flex;
        justify-content: space-between;
        width: 9rem;
        h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          color: #253d4e;
        }
      }
    }
    .emergency {
      display: flex;
      margin-top: 1.5rem;
      margin-right: 3rem;
      justify-content: space-between;
      width: 16rem;
      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $accentColor;
      }
      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #253d4e;
      }
    }
  }
}
